<!DOCTYPE HTML>

<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
		
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body class="homepage">
		<div id="header">
			<div class="container">
					<div id="logo">
						<h1><a href="#">Auktionshuset.com</a></h1>
						<span>&nbsp;</span>
					</div>
					<nav id="nav">
						<ul>
							<li class="active"><a href="index.html">Start</a></li>
							<li><a href="antalkunder.html">antal kunder</a></li>
							<li><a href="kundetilfredshed.html">kundetilfredshed</a></li>						
						</ul>
					</nav>
			</div>
		</div>
		<div id="main">
			<div class="container">
				<header>
					<h2>Tidligere statistikker</h2>
				</header>
				<div class="row">
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/pics01.jpg" alt="" /></a>
							<p>Flest Antal kunder på en måned&nbsp;</p>
							<a href="#" class="button">Tryk her&nbsp;</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/pics11.jpg" alt="" /></a>
							<p>Bedste kundetilfredshed på en måned</p>
							<a href="#" class="button">Tryk her</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/pics12.jpg" alt="" /></a>
							<p>Sidste måneds Antal kunder</p>
							<a href="#" class="button">tryk her&nbsp;</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/pics13.jpg" alt="" /></a>
							<p>Sidste måneds kundetilfredshed</p>
							<a href="#" class="button">tryk her&nbsp;</a>
						</section>
					</div>
				</div>	 
	</div>
		</div>
	<div id="footer">
			<div class="container">
				<div class="row">
					<div class="3u">																	
</html>